/****
 * General
 */ 

body {
  font-size: 12px;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  color: #333;
}

/***
 * Fonts
 */

h1 {
  font-size: 170%;
  font-weight: bold;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/***
 * Bootstrap
 */

.btn {
  font-size: 100%;
}

.form-control {
  font-size: 100%;
  height: auto;
}

.dropdown-select {
  width: auto;
}

.row {
  margin-left: 0;
}

/***
 * Additional
 */

.col1 {
  width: 20em;
  float: left;
}

.col {
  margin-left: 22px;
}

input[type="text"], input[type="password"], input[type="checkbox"] {
  margin-bottom: 5px;
  width: auto;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.grades_box,
.coaching_box {
  border: none;
  padding: 5px;
}

#PageContent {
  background-color: #fff;
}

.spacer-sm {
  height: 40px;
  width: 10px;
}

.DataTable {
  margin: 0 7px;
}

.GridHeader {
  background-color: #eaeaea;
  text-align: left;
}

.GridHeader td {
  padding: 3px 5px;
  font-weight: bold;
}

.GridRow td {
  padding: 3px;
}

#FooterWrapper {
  background-color: #ddd;
  padding: 50px 30px;
  height: 100px;
  width: 100%;
  clear: both;
}