body {
  font-size: 90%;
}

h1 {
  font-size: 110%;
}

h2 {
  font-size: 100%;
}

a {
  text-decoration: none;
}

.row {
  clear: left;
}

.col1 {
  width: 20em;
  float: left;
}

.col {
  margin-left: 22px;
}

input[type="text"], input[type="checkbox"] {
  margin-bottom: 5px;
  width: auto;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.grades_box,
.coaching_box {
  float: right;
  border: none;
  padding: 5px;
}

#MainContentWrapper {
  border-bottom: solid 1px #555
}

#PageContent {
  border-top: solid 1px #555;
  background-color: #fff
}

.DataTable {
  margin: 0 7px;
  border: 1px solid #ccc;
}

.GridHeader {
  background-color: #eaeaea;
  text-align: left;
}

.GridHeader td {
  padding: 3px 5px;
  font-weight: bold;
  border: 1px solid #ccc;
}

.GridRow td {
  padding: 3px;
  border: 1px solid #ccc;
}
